<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
      $(document).ready(function() {
        var temp=$('#fbName').text();
        console.log(temp);
        $('#theName').val(temp);
        });
  
        
       
        </script>
    <style>
        /*-- Global Selectors --*/
        a {
            color: #47649F;
        }

        body {
            font-family: 'helvetica';
            background: none;
        }

        /*-- Bootstrap Override Style --*/
        input {
            width: 100%;
        }

        /*-- Content Style --*/
        .post-footer-option li {
            float: left;
            margin-right: 50px;
            padding-bottom: 15px;
        }

        .post-footer-option li a {
            color: #AFB4BD;
            font-weight: 500;
            font-size: 1.3rem;
        }

        .photo-profile {
            border: 1px solid #DDD;
        }

        .anchor-username h4 {
            font-weight: bold;
        }

        .anchor-time {
            color: #ADB2BB;
            font-size: 1.2rem;
        }

        .post-footer-comment-wrapper {
            background-color: #F6F7F8;
        }
    </style>

</head>

<body >
    {{#if allPosts.length}}
    <div class="container">

        <div class="col-md-12">
            <form class="form" action="/socialMedia/results" method="POST">

                <div class="row form-group ">
                    <input type="text" class="col-5 ml-4 form-control  " name="filter" id="filter"
                        placeholder="Filter data">
                    <button type="submit" class="col-2 ml-4 btn btn-primary mb-2">submit filter</button>
                    <button type="button" class="col-2  ml-4 btn btn-primary mb-2">save results</button>
                    <button type="button" class="col-2 ml-4 btn btn-primary mb-2">clear filter</button>
                </div>
                <h4 class="text-center" id="userName" name="userName">all facebook posts of:<span id="fbName">{{facebookUserName}}</span></h4>
                <input  type="text"   name="theName" id="theName" value="" style="visibility: hidden" >

            </form>
        </div>
        {{#each allPosts}}
        <div class="container">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <section class="post-heading">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object photo-profile"
                                                    src="https://www.kids-world.com/images/MK436.jpg" width="40"
                                                    height="40" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#" class="anchor-username">
                                                <h4 class="media-heading">{{this.postHeader}}</h4>
                                            </a>
                                            <a href="#" class="anchor-time">51 mins</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                </div>
                            </div>
                        </section>
                        <section class="post-body">
                            <p>{{this.postContent}}</p>
                        </section>
                        <section class="post-footer">
                            <hr>
                            <div class="post-footer-option container">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                </ul>
                            </div>
                            <div class="post-footer-comment-wrapper">
                                <div class="comment-form">

                                </div>
                                {{#each this.comments}}
                                <div class="comment">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object photo-profile"
                                                    src="https://www.kids-world.com/images/MK436.jpg" width="32"
                                                    height="32" alt="...">
                                            </a>
                                        </div>
                                        {{!-- <div class="media-body">
                                        <a href="#" class="anchor-username">
                                            <h4 class="media-heading">Media heading</h4>
                                        </a>
                                        <a href="#" class="anchor-time">51 mins</a>
                                    </div>  --}}
                                        <section class="comment-body">
                                            <p>{{this}}</p>
                                        </section>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h2>user is not exist</h2>
        {{/if}}
       

</body>
<html>